[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyyaml = "==5.4"
python-twitter-v2 = "*"
urllib3 = "<2.0.0"

[dev-packages]
twitter-text = "*"

[requires]
python_version = "3"
